#initial {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#initial .content {
  width: 100%;
  height: 100%;
}

#initial .content > *{
  width: 100%;
  height: 100%;

  overflow: hidden;
  border-radius: 15px;
}