::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-track {
  background-color: #18181b;
  outline: 1px solid #cff3;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #cff5;
  border-radius: 8px;
  border: 2px solid #181422;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #cff7;
  border: 2px solid #1f1147;
}